body {
    margin: 0 auto;
    background-color: green;
}
#table {
    /* background: url('../images/other/game_table_background_wide.jpg') no-repeat; */
    /* background: url('../images/other/background.jpg') no-repeat; */
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 40% 15% 15%;
    grid-template-rows:  22% 50% 22%;
    grid-gap: 1%;
    grid-template-areas:    "p3 p2 p1 btn"
                            "p3 tbl p1 btn"
                            "p3 p0 p1 btn";
}
#buttons {
    grid-area: btn;
}
.players {
    border: 1px solid red;

}
#pl-0, #pl-1, #pl-2, #pl-3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#pl-0 {
    grid-area: p0;
    top: 80wh;
    left: 300px;
}
#pl-1 {
    grid-area: p1;
    margin-left: 100px;
}
#pl-1 img, #pl-3 img {
    transform: rotate(-90deg);
    
}
#pl-2 {
    grid-area: p2; 
}
#pl-3 {
    margin-left: 100px;
    grid-area: p3;
}
#mid-table {
    grid-area: tbl;
    background: url('../images/other/background.jpg') no-repeat;
    background-size: 100% 100%;
}

.card-img {
    position: absolute;
    border-radius: 5px;
    width: 8vw;
    height: 20vh;
    z-index: +1;
    transition: 0.5s ease-in;
}

